<!-- <h1 class="stroke" style="">bits - mapped <span class="cbbanno">({{count}})</span> </h1> -->
<!-- <span class="episodes hidden" style="margin-left:12px;">\-\-\-\-\-\-\-\-></span>  -->
{{#each rows}}
<li data-id="{{this.cartodb_id}}" data-type="{{this.geom_type}}" class="pick">
    <div class="">

        <span data-id="{{this.cartodb_id}}" data-type="{{this.geom_type}}" class="carto-plain-title {{this.active}}">{{this.name}}</span>
        <span data-id="{{this.cartodb_id}}" data-type="{{this.geom_type}}" class="carto-plain-geomtype icom-{{this.geom_type}} bt-cartoobj"></span>
        <!-- <span class="glyphicon glyphicon-share-alt bt-cartoobj bt-cartoobj-zoomto" title="zoom to this"></span> -->
        <!-- <span data-id="{{this.cartodb_id}}" data-type="{{this.geom_type}}" class="glyphicon glyphicon-headphones bt-cartoobj bt-cartoobj-episodes" title="pull a list of associated episodes"></span> -->
        <!-- <span data-id="{{this.cartodb_id}}" class="glyphicon glyphicon-asterisk bt-getid" title="echo model id (dev only)"></span> -->
        <!-- {{#indev this.cartodb_id this.geom_type}}{{/indev}} -->
        {{#if this.anno}}
        <p class="cbbanno">({{this.anno}})</p>
        {{/if}}
    </div>
</li>
{{/each}}