<a target="blank" href="http://www.earwolf.com/episode/{{slug_earwolf}}" class="{{active}}" id="{{_id}}" title="link (new tab) to the episode page at Earwolf">{{#if episode_title}}{{episode_title}}{{else}}{{slug_earwolf}}{{/if}}</a>
(#{{episode}}:{{tstart}})
<!-- <a href="http://earwolf.com/episode/{{slug_earwolf}}">
	<img src="images/bt-earwolf.png" alt="" width="15" height="15" border="0" />
</a> -->
<!-- , -->
<a target="blank" href="{{slug_soundcloud}}" title="link (new tab) to {{tstart}} at SoundCloud">
	<img src="images/bt-soundcloud.png" alt="" width="30" height="20" border="0" />
</a>

<a target="blank" href="{{debug this}}" title="link (new tab) to {{tstart}} at SoundCloud">
	<img src="images/bt-soundcloud.png" alt="" width="30" height="20" border="0" />
</a>

<!-- ), at ~{{tstart}} -->